workflows/GDocument _ Sincronización de Tickets _ Alertas de WhatsApp.json
{
  "name": "GDocument | Sincronización de Tickets | Alertas de WhatsApp",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://produccion.gdocument.co/app/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"login\": \"{{$env.GDOCUMENT_USER}}\",\n    \"clave\": \"{{$env.GDOCUMENT_PASSWORD}}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "name": "2. Autenticar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        -256
      ],
      "id": "f539dc3d-2640-472e-b1ed-c6ef2b08ceef"
    },
    {
      "parameters": {
        "url": "https://produccion.gdocument.co/api/ejecucion_flujos/usuario?filter=&page=1&size=50&entity=&order%5Bdirection%5D=DESC",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cookie",
              "value": "={{ $json.headers['set-cookie'] }}"
            },
            {
              "name": "Accept",
              "value": "application/json, text/plain, */*"
            }
          ]
        },
        "options": {}
      },
      "name": "3. Consultar Bandeja",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -256
      ],
      "id": "56c71cb3-7747-4aa7-80b8-0fd9df3454bf"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 7-17 * * MON-FRI"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -256
      ],
      "id": "265236d3-88ca-48e9-a212-69c2f3b9d4d6",
      "name": "Disparador - Evento"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "13EoVRbSjpZ0xlyc0IAvEiaWjitOchUZstzKK11nppXg",
          "mode": "list",
          "cachedResultName": "Historial_Tickets_Soporte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EoVRbSjpZ0xlyc0IAvEiaWjitOchUZstzKK11nppXg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1570037912,
          "mode": "list",
          "cachedResultName": "Historial_Tickets_Soporte",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/13EoVRbSjpZ0xlyc0IAvEiaWjitOchUZstzKK11nppXg/edit#gid=1570037912"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "Radicado": "={{ $json.radicado }}",
            "Fecha Registro": "={{ $json.fechaInicio }}",
            "Empresa": "={{ $json.busqueda?.cliente }}",
            "Sede": "={{ $json.busqueda?.direccion_de_soporte ?? \"SIN ESPECIFICAR\" }}",
            "Marca": "={{ $json.busqueda?.serial?.Marca?.[0]?.campo ?? \"SIN ESPECIFICAR\"}}",
            "Modelo": "={{ $json.busqueda?.serial?.Modelo?.[0]?.campo }}",
            "Reincidencias": "==CONTAR.SI(H:H; INDIRECTO(\"H\" & FILA()))",
            "Serial": "={{ $json.busqueda.serial.Serial[0].campo }}",
            "Consumible": "={{ $json.busqueda?.serial?.['Toner y/o Cintas']?.[0]?.campo ?? \"SIN ESPECIFICAR\" }}",
            "Tipo Solicitud": "={{ $json.busqueda?.tipo_de_requerimiento }}",
            "Descripción Caso": "={{ $json.busqueda?.descripcion_del_requerimiento ?? \"SIN ESPECIFICAR\" }}",
            "Técnico Asignado": "={{\" \"}}",
            "Fecha Cierre": "={{ $json?.fechaFin || \" \" }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Radicado",
              "displayName": "Radicado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha Registro",
              "displayName": "Fecha Registro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Empresa",
              "displayName": "Empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sede",
              "displayName": "Sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marca",
              "displayName": "Marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modelo",
              "displayName": "Modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Serial",
              "displayName": "Serial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Consumible",
              "displayName": "Consumible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tipo Solicitud",
              "displayName": "Tipo Solicitud",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Descripción Caso",
              "displayName": "Descripción Caso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Técnico Asignado",
              "displayName": "Técnico Asignado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Cierre",
              "displayName": "Fecha Cierre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reincidencias",
              "displayName": "Reincidencias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        -448
      ],
      "id": "b89d1bfd-2fa6-4469-a000-dfb241e549c3",
      "name": "Guardar Tickets - Indicadores",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SMkaGG1e7S7PLqS3",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data['hydra:member']",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        -256
      ],
      "id": "c3899135-1b9d-43c2-800a-17361b8e747c",
      "name": "Split Out - Separar Tickets"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        448,
        -256
      ],
      "id": "e3e4bd8f-60ee-4c23-90b6-46c60df8f531",
      "name": "Remover Duplicados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/BotGd",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  number: \"120363407438481648@g.us\",\n\n  text:\n`🚨 *NUEVO REQUERIMIENTO* 🚨\n\n*🎫 Radicado:* ${$('Remover Duplicados').item.json.radicado || \"Sin Especificar\"}\n*🛠️ Tipo:* ${$('Remover Duplicados').item.json.busqueda?.tipo_de_requerimiento || \"Sin Especificar\"}\n\n*🏢 CLIENTE Y UBICACIÓN*\n• *Empresa:* ${$('Remover Duplicados').item.json.busqueda?.cliente || \"Sin Especificar\"}\n• *Ciudad:* ${$('Remover Duplicados').item.json.busqueda?.serial?.Cuidad?.[0]?.campo || \"Sin Especificar\"}\n• *Sede:* ${$('Remover Duplicados').item.json.busqueda?.direccion_de_soporte || \"Sin Especificar\"}\n• *Dirección:* ${$('Remover Duplicados').item.json.busqueda?.serial?.['Edificio/Dirección']?.[0]?.campo || \"Sin Especificar\"}\n• *Área/Ubicación: 📍* ${$('Remover Duplicados').item.json.busqueda?.serial?.['Ubicación']?.[0]?.campo || \"Sin Especificar\"}\n\n*📞 CONTACTO*\n• *Nombre:* ${$('Remover Duplicados').item.json.busqueda?.contacto_cliente ? $('Remover Duplicados').item.json.busqueda.contacto_cliente.replace(/\\r?\\n|\\r/g, ' ').replace(/\\s+/g, ' ').trim() : \"Sin Especificar\"}\n• *Celular:* ${$('Remover Duplicados').item.json.busqueda?.celular_del_solicitante || \"Sin Especificar\"}\n\n*🖨️ DATOS DEL EQUIPO*\n• *Equipo:* ${$('Remover Duplicados').item.json.busqueda?.serial?.Marca?.[0]?.campo || \"Sin Especificar\"} ${$('Remover Duplicados').item.json.busqueda?.serial?.Modelo?.[0]?.campo || \"Sin Especificar\"}\n• *Serial:* ${$('Remover Duplicados').item.json.busqueda?.serial?.Serial?.[0]?.campo || \"Sin Especificar\"}\n• *Consumible:* ${$('Remover Duplicados').item.json.busqueda?.serial?.['Toner y/o Cintas']?.[0]?.campo || \"Sin Especificar\"} \n\n*📝 DESCRIPCIÓN DEL CASO*\n${$('Remover Duplicados').item.json.busqueda?.descripcion_del_requerimiento || \"Sin Especificar\"}\n\n*🆔 ID FLUJO:* ${$('Remover Duplicados').item.json.id}\n\n─────────────────────\n🔧 *Acción requerida:* Asignar flujo en la plataforma\n🔗 *Acceso a la plataforma:*\nhttps://produccion.gdocument.co/login`,\n\n  delay: 1200,\n  linkPreview: false,\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        -256
      ],
      "id": "32203b6b-1a30-403d-86a2-e9ee364213be",
      "name": "Mensaje Construido - Notificaciones Por Ticket"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        960,
        -256
      ],
      "id": "222dada3-3008-4bd3-9bff-3f6612641769",
      "name": "Aggregate - Consolidar Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution-api:8080/message/sendText/BotGd",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.EVOLUTION_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  number: \"120363407438481648@g.us\",\n\n  text:\n`🚨 *RESUMEN DE TICKETS PENDIENTES* 🚨\n\n*📊 ESTADO EN PLATAFORMA*\n• *Total por asignar:* ${$('Split Out - Separar Tickets').all().length}\n• *Estado actual:* Esperando distribución\n\n*📝 ACCIÓN REQUERIDA*\nPor favor, ingresar al panel de control para realizar la asignación correspondiente al equipo de soporte.\n\n─────────────────────\n🔧 *Control de Mesa de Ayuda*`,\n\n  delay: 1200,\n  linkPreview: false,\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        -256
      ],
      "id": "31e82dfa-45d3-462f-95cf-23d3da3acd08",
      "name": "Total Tickets Pendientes Por Asignar"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c9adb23c-66f2-4b01-b5ab-7270c3e3331f",
              "leftValue": "={{ $json.busqueda.cliente }}",
              "rightValue": "891480000 | COMFAMILIAR RISARALDA",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        -448
      ],
      "id": "c9419c01-99da-40fa-b6d5-b3a1d22ece99",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        912,
        272
      ],
      "id": "c78e766f-7b4f-47eb-885f-d816c2bba1f8",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "R16cSR0bbmfROHg0",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d8ad109-f373-47e7-92b5-1a0be4c6e579",
              "name": "document",
              "value": "={{\n`Ticket ID: ${$json.id}\nRadicado: ${$json.radicado}\nEmpresa: ${$json.busqueda?.cliente ?? 'Sin especificar'}\nTipo: ${$json.busqueda?.tipo_de_requerimiento ?? 'Sin especificar'}\nCiudad: ${$json.busqueda?.serial?.Cuidad?.[0]?.campo ?? 'Sin especificar'}\nSede: ${$json.busqueda?.direccion_de_soporte ?? 'Sin especificar'}\nEquipo: ${$json.busqueda?.serial?.Marca?.[0]?.campo ?? ''} ${$json.busqueda?.serial?.Modelo?.[0]?.campo ?? ''}\nSerial: ${$json.busqueda?.serial?.Serial?.[0]?.campo ?? 'Sin especificar'}\nConsumible: ${$json.busqueda?.serial?.['Toner y/o Cintas']?.[0]?.campo ?? 'Sin especificar'}\nDescripción: ${$json.busqueda?.descripcion_del_requerimiento ?? 'Sin especificar'}`\n}}",
              "type": "string"
            },
            {
              "id": "70ea6647-0fbf-4561-afdb-f4a98dd51603",
              "name": "metadata",
              "value": "={{\n{\n  id: $json.id,\n  radicado: $json.radicado,\n  empresa: $json.busqueda?.cliente\n}\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        48
      ],
      "id": "4b7bc54e-c61b-4530-b4b7-422f20b8f928",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.document }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "metadata",
                "value": "={{ $json.metadata }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1040,
        272
      ],
      "id": "0a9826c9-4f48-4c7b-9fd3-119c1d24e581",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "redisIndex": {
          "__rl": true,
          "value": "tickets_soporte",
          "mode": "list",
          "cachedResultName": "tickets_soporte"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreRedis",
      "typeVersion": 1.3,
      "position": [
        896,
        48
      ],
      "id": "d530d507-0105-486e-9507-5c19a310b9c5",
      "name": "Redis Vector Store",
      "credentials": {
        "redis": {
          "id": "P6YbDOv77JxkMIY9",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "2. Autenticar": {
      "main": [
        [
          {
            "node": "3. Consultar Bandeja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Consultar Bandeja": {
      "main": [
        [
          {
            "node": "Split Out - Separar Tickets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparador - Evento": {
      "main": [
        [
          {
            "node": "2. Autenticar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Tickets - Indicadores": {
      "main": [
        []
      ]
    },
    "Split Out - Separar Tickets": {
      "main": [
        [
          {
            "node": "Remover Duplicados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remover Duplicados": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mensaje Construido - Notificaciones Por Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensaje Construido - Notificaciones Por Ticket": {
      "main": [
        [
          {
            "node": "Aggregate - Consolidar Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate - Consolidar Items": {
      "main": [
        [
          {
            "node": "Total Tickets Pendientes Por Asignar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Tickets Pendientes Por Asignar": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Guardar Tickets - Indicadores",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Redis Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Redis Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "667a746b-2e03-401c-a65d-784ec250f877",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e7b2ea3972953b038c5619f7ec9798380a89d41c1cc6021c3697c0355764e89"
  },
  "nodeGroups": [],
  "id": "a852AZToCn0SbjM4",
  "tags": []
}