workflows/RAG _ PostgreSQL Sync.json
{
  "name": "RAG | PostgreSQL Sync",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        -288,
        -64
      ],
      "id": "161176b4-9e55-4048-9eb2-29ad2441b3ea",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// ======================================================\n// RAG | PostgreSQL Sync\n// Semantic Builder\n// ======================================================\n\n// Función para evitar null/undefined\nfunction value(v) {\n\treturn v ?? \"\";\n}\n\n// ======================================================\n// Documento semántico\n// ======================================================\n\nconst documento = `\nDocumento de soporte técnico\n\nRadicado: ${value($json.radicado)}\n\nEmpresa: ${value($json.empresa)}\nCiudad: ${value($json.ciudad)}\nSede: ${value($json.sede)}\nDirección: ${value($json.direccion)}\nÁrea: ${value($json.area)}\n\nContacto: ${value($json.contacto)}\nTeléfono: ${value($json.telefono)}\n\nEquipo: ${value($json.marca)} ${value($json.modelo)}\nSerial: ${value($json.serial)}\nConsumible: ${value($json.consumible)}\n\nTipo de requerimiento: ${value($json.tipo_requerimiento)}\n\nDescripción:\n${value($json.descripcion)}\n\nTécnico asignado: ${value($json.tecnico_asignado)}\n\nEstado: ${value($json.estado)}\n`.trim();\n\n// ======================================================\n// HASH del contenido semántico\n// ======================================================\n\nconst hash = crypto\n\t.createHash(\"sha256\")\n\t.update(documento, \"utf8\")\n\t.digest(\"hex\");\n\n// ======================================================\n// Salida\n// ======================================================\n\nreturn {\n\tjson: {\n\n\t\t...$json,\n\n\t\tdocumento_semantico: documento,\n\n\t\thash_documento: hash,\n\n\t\tversion_documento: 1,\n\n\t\tfecha_vectorizacion: new Date().toISOString()\n\n\t}\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -64
      ],
      "id": "5080c1b8-758c-4816-929d-17a21d1df0f7",
      "name": "01. Semantic Builder"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tickets",
          "mode": "list",
          "cachedResultName": "tickets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.id}}",
            "radicado": "={{$json.radicado}}",
            "origen": "={{$json.origen}}",
            "empresa": "={{$json.empresa}}",
            "ciudad": "={{$json.ciudad}}",
            "sede": "={{$json.sede}}",
            "direccion": "={{$json.direccion}}",
            "area_ubicacion": "={{$json.area}}",
            "contacto_nombre": "={{$json.contacto}}",
            "contacto_celular": "={{$json.telefono}}",
            "marca": "={{$json.marca}}",
            "modelo": "={{$json.modelo}}",
            "serial_equipo": "={{$json.serial}}",
            "consumible": "={{$json.consumible}}",
            "tipo_requerimiento": "={{$json.tipo_requerimiento}}",
            "descripcion": "={{$json.descripcion}}",
            "estado": "={{$json.estado}}",
            "tecnico_asignado": "={{$json.tecnico_asignado}}",
            "documento_semantico": "={{$json.documento_semantico}}",
            "hash_documento": "={{$json.hash_documento}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "radicado",
              "displayName": "radicado",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origen",
              "displayName": "origen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sede",
              "displayName": "sede",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "direccion",
              "displayName": "direccion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "area_ubicacion",
              "displayName": "area_ubicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacto_nombre",
              "displayName": "contacto_nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contacto_celular",
              "displayName": "contacto_celular",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "marca",
              "displayName": "marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo",
              "displayName": "modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "serial_equipo",
              "displayName": "serial_equipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "consumible",
              "displayName": "consumible",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_requerimiento",
              "displayName": "tipo_requerimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "descripcion",
              "displayName": "descripcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tecnico_asignado",
              "displayName": "tecnico_asignado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documento_semantico",
              "displayName": "documento_semantico",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hash_documento",
              "displayName": "hash_documento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "embedding",
              "displayName": "embedding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "metadata",
              "displayName": "metadata",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_sync_at",
              "displayName": "last_sync_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        -64
      ],
      "id": "5215f293-19ab-45c8-a097-2a165c39ea8a",
      "name": "02. Search Ticket",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "gaWWSSjhn3QY5dJZ",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4073ea61-748a-4eae-832d-12255a637b07",
              "leftValue": "={{ $json.id}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -64
      ],
      "id": "1a2f577a-bb17-4a09-bade-fbceebab0dd9",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "01. Semantic Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "01. Semantic Builder": {
      "main": [
        [
          {
            "node": "02. Search Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "02. Search Ticket": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "85319611-cae5-4b8f-87c9-597729292228",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f7a1b2bb3a48c9a3ed5a4c45c25f6dddf7852fd28778709ba9d4f95e2c843c08"
  },
  "nodeGroups": [],
  "id": "XROxPQK0f3s6FNjk",
  "tags": []
}